astroid==1.4.4
lazy-object-proxy==1.2.1
logilab-common==1.1.0
pylint==1.5.2
virtualenv==16.1.0
wrapt==1.8.0
Click==7.0
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.10
Werkzeug==0.14.1
aniso8601==4.0.1
Flask-RESTful==0.3.6
MarkupSafe==1.1.0
pytz==2018.7
six==1.11.0
coverage==4.5.2
gunicorn==19.9.0
